<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>github-kairos-fhir</id>
      <username>kairos-fhir</username>
      <!-- Public token with `read:packages` scope -->
      <password>&#57;&#50;&#99;&#100;&#51;&#98;&#101;&#102;&#54;&#49;&#99;&#55;&#57;&#101;&#100;&#102;&#52;&#49;&#98;&#99;&#49;&#101;&#97;&#50;&#97;&#99;&#53;&#57;&#48;&#53;&#49;&#55;&#54;&#100;&#52;&#49;&#54;&#101;&#97;&#52;</password>
    </server>
  </servers>
</settings>
