<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>github-kairos-fhir</id>
      <username>kairos-fhir</username>
      <!-- Public token with `read:packages` scope -->
      <password>&#103;&#104;&#112;&#95;&#87;&#83;&#69;&#85;&#68;&#106;&#70;&#54;&#103;&#51;&#98;&#114;&#111;&#55;&#66;&#65;&#103;&#50;&#120;&#87;&#112;&#106;&#69;&#97;&#86;&#73;&#48;&#118;&#99;&#52;&#49;&#71;&#87;&#74;&#119;&#74;</password>
    </server>
  </servers>
</settings>