/* inline_style_1 */
/*<![CDATA[*/
div.rbtoc1614075973180 {padding: 0px;}
div.rbtoc1614075973180 ul {list-style: disc;margin-left: 0px;}
div.rbtoc1614075973180 li {margin-left: 0px;padding-left: 0px;}

/*]]>*/
